.navigation {
    background-color: #4fd1d9;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);
    position: relative;
    box-sizing: border-box;
}

.navigation-link {
    font-size: 1.4em;
    color: white;
    text-decoration: none;
    text-transform: lowercase;
    cursor: pointer;
}

.navigation-link:hover,
.navigation-link:focus {
    text-decoration: underline;
}

.navigationHamburger {
    transform: rotate(90deg);
    font-weight: bold;
    color: white;
    display: none;
}