.card {
    width: 100%;
    margin: 40px 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    max-width: 550px;
}

.card-header, .card-header-img {
    height: 40px;
}

.card-img {
    width: 100%;
}

.card-info {
    letter-spacing: 0.5px;
    background-color: white;
    height: 80px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-info-price {
    font-size: 1.4em;
}

.card-info-button {
    font-size: 1.2em;
    text-transform: lowercase;
    color: white;
    background-color: #4fd1d9;
    border: 0;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 5px;

    display: none;
}

.card-info-button:hover,
.card-info-button:focus {
    background-color: #2FBCC4;
}

.card-info-button-remove {
    background-color: #e74c3c;
}

.card-info-button-remove:hover,
.card-info-button-remove:focus {
    background-color: #c0392b;
}

.card:hover .card-info-button,
.card:focus .card-info-button,
.card:active .card-info-button {
    display: block;
}